
@mixin tree-table-icon {
    
}
 
.vs-table {
    table-layout: fixed;
    margin-bottom: 0;
}
.vs-table td {
    vertical-align: middle;
}
.vs-tree-table-icon {
    font-family: iconfont;
    display: inline-block;
    font-size: 24px;
    width: 40px;
    cursor: pointer;
    color: #007bff;
    padding: 5px;
    vertical-align: middle;
}

.vs-tree-table-expend-icon::before {
    content: '\e671';
}
.vs-tree-table-expended-icon::before {
    content: '\e670';
}